<!DOCTYPE html>
<html>

<head>
    <%- include('../layout/head.ejs', {title: 'Quản Lý Sản Phẩm' })%>
</head>

<body>
    <!-- header -->
    <%- include('../layout/header.ejs') %>

        <%- include('../layout/sidebar.ejs')%>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li class="active">Danh sách sản phẩm</li>
                    </ol>
                </div>
                <!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Danh sách sản phẩm</h1>
                    </div>
                </div>
                <!--/.row-->
                <div id="toolbar" class="btn-group">
                    <a href="product-add.html" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table data-toolbar="#toolbar" data-toggle="table">

                                    <thead>
                                        <tr>
                                            <th data-field="id" data-sortable="true">ID</th>
                                            <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                                            <th data-field="price" data-sortable="true">Giá</th>
                                            <th>Ảnh sản phẩm</th>
                                            <th>Trạng thái</th>
                                            <th>Danh mục</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let id=1 %>
                                            <%for(x in products){%>
                                                <tr>
                                                    <td style="">
                                                        <%= skip + id++ %>
                                                    </td>
                                                    <td style="">
                                                        <%=products[x].name%>
                                                    </td>
                                                    <td style="">
                                                        <%=products[x].price%> vnd
                                                    </td>
                                                    <td style="text-align: center"><img width="130" height="180"
                                                            src="/static/images/<%=products[x].thumbnail%>" /></td>
                                                    <%if(products[x].is_stock){%>
                                                        <td><span class="label label-success">Còn hàng</span></td>
                                                        <%}else{%>
                                                            <td><span class="label label-danger">Hết hàng</span></td>
                                                            <%}%>
                                                                <td>
                                                                    <%=products[x].cat_id.title%>
                                                                </td>
                                                                <td class="form-group">
                                                                    <a href="product-edit.html"
                                                                        class="btn btn-primary"><i
                                                                            class="glyphicon glyphicon-pencil"></i></a>
                                                                    <a href="product-edit.html"
                                                                        class="btn btn-danger"><i
                                                                            class="glyphicon glyphicon-remove"></i></a>
                                                                </td>
                                                </tr>
                                                <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <!--/ nếu trang đang chọn mà > 1 thì mới hiển thị dấu back-->
                                        <%if(page>1){%>
                                            <li class="page-item"><a class="page-link"
                                                    href="/admin/products/?page=<%=page-1%>">&laquo;</a></li>
                                            <%}%>
                                                <%for(x in pages){%>
                                                    <%if(pages[x]!=='...'){%>
                                                        <li class="page-item <%=pages[x]===page ? 'active':''%>"><a
                                                                class="page-link"
                                                                href="/admin/products/?page=<%=pages[x]%>">
                                                                <%=pages[x]%>
                                                            </a></li>
                                                        <%}else{%>
                                                            <li class="page-item"><a class="page-link"
                                                                    onclick="return false"
                                                                    href="/admin/products/?page=<%=pages[x]%>">
                                                                    <!--/ trong href la đẩy tham số trang đang chọn lên url-->
                                                                    <%=pages[x]%>
                                                                </a></li>
                                                            <%}%>
                                                                <%}%>
                                                                    <%if(page<totalPage){%>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="/admin/products/?page=<%=page+1%>">&raquo;</a>
                                                                        </li>
                                                                        <%}%>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.main-->

            <!-- footer -->
            <%- include('../layout/footer.ejs')%>
</body>

</html>