<!DOCTYPE html>
<html>

<head>
	<%- include('../layout/head.ejs',{title: 'Quản Lý Danh Mục' })%>
</head>

<body>
	<!-- header -->
	<%- include('../layout/header.ejs') %>

		<%- include('../layout/sidebar.ejs') %>

			<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
				<div class="row">
					<ol class="breadcrumb">
						<li><a href="#"><svg class="glyph stroked home">
									<use xlink:href="#stroked-home"></use>
								</svg></a></li>
						<li class="active">Quản lý danh mục</li>
					</ol>
				</div>
				<!--/.row-->

				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Quản lý danh mục</h1>
					</div>
				</div>
				<!--/.row-->
				<div id="toolbar" class="btn-group">
					<a href="/admin/categories/create" class="btn btn-success">
						<i class="glyphicon glyphicon-plus"></i> Thêm danh mục
					</a>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table data-toolbar="#toolbar" data-toggle="table">

									<thead>
										<tr>
											<th data-field="id" data-sortable="true">ID</th>
											<th>Tên danh mục</th>
											<th>Hành động</th>
										</tr>
									</thead>
									<tbody>
										<% let id=1 %>
											<%for(x in categories){%>
												<tr>
													<td style="">
														<%= skip + id++ %>
													</td>
													<td style="">
														<%=categories[x].title%>
													</td>
													<td class="form-group">
														<a href="/" class="btn btn-primary"><i
																class="glyphicon glyphicon-pencil"></i></a>
														<a href="/" class="btn btn-danger"><i
																class="glyphicon glyphicon-remove"></i></a>
													</td>
												</tr>
												<%}%>
									</tbody>
								</table>
							</div>
							<div class="panel-footer">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<%if(page>1){%>
											<li class="page-item"><a class="page-link"
													href="/admin/categories/?page=<%=page-1%>">&laquo;</a></li>
											<%}%>
												<%for(x in pages){%>
													<%if(pages[x]!=='...'){%>
														<li class="page-item <%=pages[x]===page ? 'active':''%>"><a
																class="page-link"
																href="/admin/categories/?page=<%=pages[x]%>">
																<%=pages[x]%>
															</a></li>
														<%}else{%>
															<li class="page-item"><a class="page-link"
																	href="/admin/categories/?page=<%=pages[x]%>">
																	<!--/ trong href la đẩy tham số trang đang chọn lên url-->
																	<%=pages[x]%>
																</a></li>
															<%}%>
																<%}%>
																	<%if(page<totalPage){%>
																		<li class="page-item"><a class="page-link"
																				href="/admin/categories/?page=<%=page+1%>">&raquo;</a>
																		</li>
																		<%}%>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!--/.row-->
			</div>
			<!--/.main-->

			<!-- footer -->
			<%- include('../layout/footer.ejs')%>
</body>

</html>